<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Home Page"]</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .jumbotron {
            background-image: url('C:\Users\rajak\Downloads\aaaa.jpg'); /* Replace 'path/to/your/image.jpg' with the path to your image */
            background-size: cover; /* Cover the entire background */
            background-position: center; /* Center the background image */
            /* Set text color to white for better readability */
        }
    </style>

</head>
<body>

    <div class="container">
        <div class="jumbotron text-center">
            <h1 class="display-4">Welcome to the Patient Portal</h1>
            <p class="lead">Manage your patient information with ease.</p>
        </div>
        <div class="row text-center">
            <div class="col-md-4" >

                <h2 class="text-primary " >Register Patient</h2>
                <p>Registering new user will be a good option to track their medical history.</p>
            </div>
            <div class="col-md-4">

                <h2 class="text-success black-text">Keep records of the patients.</h2>
                <p>Access your medical history, test results, and prescriptions online.</p>
                <p>Patient privacy is our first priority.</p>
            </div>
            <div class="col-md-4">

                <h2 class="text-danger black-text">Communicate Securely</h2>
                <p>Schedule appointments with your healthcare providers conveniently</p>
            </div>
        </div>
    </div>

</body>
</html>
